<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>TO-DO DJANGO APP</title>
  <meta name="description" content="Todo Djnago Application">
  <meta name="author" content="MW">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'todos:index' %}">TO-DO</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'todos:index' %}">Task List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'todos:post_todo'%}">New Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'todos:user_logout'%}">Logout</a>
      </li>
      
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'todos:user_login'%}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'todos:register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
    </div>
    {% if user.is_authenticated %}
      Hi, {{ user.username }}

    {% endif %}
</nav>


<div class="container">
{% block body_block %}

{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>